
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 text-center">
               <h1>
                    Oops!
                </h1>
                <h2>
                    404 Not Found
                </h2>
                <div>
                    @ViewBag.Message
                </div>
                <a asp-area="Employee" asp-controller="Home" asp-action="Index" class="btn btn-primary mt-4">Return to Homepage</a>
        </div>
    </div>
</div>
