@{
    var userId = ViewBag.userId;
    ViewData["Title"] = "Ticket Index";
}
<div class="container">
    <input hidden asp-for=@userId id="userId" />
    <h2 class="text-center my-5"> Tickets Index </h2>
    <div class="table-responsive">
        <table id="tableData" class="table table-dark table-bordered border border-white text-center align-middle" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Type</th>
                    <th>Asigned To</th>
                    <th>Requester</th>
                    <th>Status</th>
                    <th>Response</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>


    @section Scripts{
        <script src="~/js/TicketsAdmin.js"></script>
    }
