@{
    ViewData["Title"] = "User Index";
}

<div class="container">
    <h2 class="text-center my-5"> Users Index</h2>
    <div class="table-responsive">
        <table id="tableData" class="table table-dark table-bordered border border-white text-center align-middle" style="width:100%">
            <thead>
                <tr>
                    <th>Emp. #</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

</div>


@section Scripts{
    <script src="~/js/Users.js"></script>
}