@{

    ViewData["Title"] = "Ticket Type Index";
}
<div class="container">
    <h2 class="text-center my-5"> Tickets Types </h2>
    <div class="table-responsive">
        <table id="tableData" class="table table-dark table-bordered border border-white text-center align-middle" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
        </table>
    </div>
 </div>


    @section Scripts{
        <script src="~/js/TicketsType.js"></script>
    }
